<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exameeeen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .ins {
            border: none;
            border-bottom: 2px solid black;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .tit{
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: black;
        }  
    </style>
    <!--<link rel="stylesheet" href="css/estilo1.css">-->
</head>
<body>
    <div class="container">
        <h1 class="label tit">Formulario examen</h1>
        <form method="POST" action="/consola/examen/validacion">
                <div class="row">
                    <div class="col-3">
                        <label for="nombre" class="label tit">Nombre:</label>
                        <input type="text" class="labes ins" id="nombre" name="nombre">
                    </div>
                    <div class="col-3">
                        <label for="apellido" class="label tit">Apellido:</label>
                        <input type="text" class="labes ins" id="apellido" name="apellido">
                    </div>
                    <div class="col-3">
                        <label for="tel" class="label tit">Tel:</label>
                        <input type="text" class="labes ins" id="tel" name="tel">
                    </div>
                    <div class="col-3">
                        <label for="cel" class="label tit">Cel:</label>
                        <input type="text" class="labes ins" id="cel" name="cel">
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-2">
                        <input type="reset" class="btn btn-danger">
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-primary">
                    </div>
                    <div class="col-3"></div>
                </div>

        </form>
    </div>
</body>
</html>